body {
    background-color: #131414;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    color: #ff5722;
}

button {
    background-color: #ff5722;
    color: #131414;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d84315;
}

a {
    color: #ff5722;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #d84315;
    text-decoration: underline;
}
